*/config/development
*/config/config.php
*/config/database.php
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess
.htaccess  

application/config/config.php 

application/config/database.php
