RewriteEngine on
RewriteCond %{HTTP_HOST} ^opensourceprojectmanagement\.co.uk$
RewriteRule ^(.*) http://www.opensourceprojectmanagement.co.uk/$1 [R=301]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|js|images|robots\.txt)
RewriteRule ^(.*)$ index.php?$1 [L]