.slogan {
    font-size: 100px; 
    padding-bottom: 20px;
    line-height: 1;
    color: #767777;
    font-weight: 300;
    margin: auto; 
} 

.m-height-50{
	max-height: 50px;
}

.m-height-30{
	max-height: 30px;
}

.gr-border{
	border: 1px dashed gray;
}
.thumb{
	width: 60px;
}

.profile_thumb{
	width: 360px;
}

.lv-avatar-lg {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    color: #FFF;
    text-align: center;
    line-height: 70px;
    font-size: 50px;
    margin-right: 15px;
    padding: 0!important;
    text-transform: uppercase;
}
.top-menu-item{
color: #fff;
padding: 5px;
font-size: 14px;
margin: 0 10px 0 10px;
}

.top-menu-item:hover, .top-menu-item:visited, .top-menu-item:active {
color: #fff; 
} 
.modal-open[style] {
padding-right: 0px !important;
}